@import "../includes/mixins";
@import "../includes/variables";

button,a {
    &.btn {
        &:not(.btn-sm) {
            min-height: 38px;
            line-height: 38px;
            padding: 0 1.25rem;
        }
        &.btn-primary {
            background-color: $primaryColor;
            border-color: $primaryColor;
            &:hover,
            &:focus,
            &:active {
                background-color: $primaryColor;
                border-color: $primaryColor;
            }
        }
        &.btn-primary-light {
            background-color: $primaryTransColor;
            color: $primaryColor;
            border: none;
            &:hover {
                background-color: $primaryColor;
                color: $white;
            }
        }
        &.btn-secondary {
            background-color: $secondaryColor;
            border-color: $secondaryColor;
            &:hover {
                background-color: $secondaryColor;
            }
        }
    }
}
.action-btn {
    color: $gray;
    &.edit {
        &:hover {
            color: $primaryColor;
        }
    }
    &.delete {
        &:hover {
            color: $danger;
        }
    }
}