@import "../includes/mixins";
@import "../includes/variables";

input {
    &.form-control {
        min-height: 38px;
        border-color: $borderColor;
        @include placeholder {
            color: $gray;
            font-size: $global-font-size - 1;
        }
        &:focus {
            @include box-shadow(none);
            border-color: $primaryColor;
        }
    }
}

.selectpicker {
    div[class*="-control"] {
        border-color: $borderColor;
        @include box-shadow(none);
        div[class*="-placeholder"] {
            color: $gray;
            font-size: $global-font-size - 1;
        }
    }
}

.form-radio {
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
        & + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid $borderColor;
                background: #fff;
                @include border-radius(100%);
                @include transition(all 0.2s ease);
            }
            &::after {
                content: '';
                width: 12px;
                height: 12px;
                background: $primaryColor;
                position: absolute;
                top: 3px;
                left: 3px;
                border-radius: 100%;
                @include transition(all 0.2s ease);
            }
        }
    }
    [type="radio"]:checked {
        & + label {
            &::before {
                border-color: $primaryColor;
            }
            &::after {
                opacity: 1;
                @include transform(scale(1));
            }
        }
    }
    [type="radio"]:not(:checked) {
        & + label {
            &::after {
                opacity: 0;
                @include transform(scale(0));
            }
        }
    }
}

body {
    .react-datepicker {
        border-color: $borderColor;
        font-family: 'Roboto', sans-serif !important;
        color: $bodyColor;
        .react-datepicker__triangle {
            display: none;
        }
        .react-datepicker__year--container {
            .react-datepicker__header {
                background-color: $white;
                border: 0;
            }
            .react-datepicker__year {
                .react-datepicker__year-wrapper {
                    @include justify-content(center);
                    .react-datepicker__year-text {
                        padding: 0.25rem;
                        &:hover {
                            background-color: transparentize($primaryColor, 0.9);
                        }
                        &.react-datepicker__year-text--selected {
                            background-color: $primaryColor;
                        }
                    }
                }
            }
        }
        .react-datepicker__navigation-icon {
            &::before {
                top: 11px;
            }
        }
    }
}