@import "../includes/mixins";
@import "../includes/variables";

input {
    &.form-control {
        min-height: 38px;
        border-color: $borderColor;
        @include placeholder {
            color: $gray;
            font-size: $global-font-size - 1;
        }
        &:focus {
            @include box-shadow(none);
            border-color: $primaryColor;
        }
    }
}

.selectpicker {
    div[class*="-control"] {
        border-color: $borderColor;
        @include box-shadow(none);
        div[class*="-placeholder"] {
            color: $gray;
            font-size: $global-font-size - 1;
        }
    }
}

input:where([type="checkbox"], [type="radio"]){
    -webkit-appearance : none;
    appearance         : none;
    width              : 22px;
    height             : 22px;
    margin             : calc(0.75em - 11px) 0.25rem 0 0;
    vertical-align     : top;
    border             : 1px solid $borderColor;
    border-radius      : 4px;
    background         : $white no-repeat center center;
  }
  
  input[type="radio"]{
    border-radius : 50%;
  }
  
  input:where([type="checkbox"], [type="radio"]):where(:active:not(:disabled), :focus){
    border-color : $primaryColor;
    outline      : none;
  }
  
  input:where([type="checkbox"], [type="radio"]):disabled{
    background : #eee;
  }
  
  input[type="checkbox"]:checked{
    background-image : url('../../../public/images/checkbox.svg');
    
  }
  
  input[type="radio"]:checked{
    background-image : url('../../../public/images/radio.svg');
  }

body {
    .react-datepicker {
        border-color: $borderColor;
        font-family: 'Roboto', sans-serif !important;
        color: $bodyColor;
        .react-datepicker__triangle {
            display: none;
        }
        .react-datepicker__year--container {
            .react-datepicker__header {
                background-color: $white;
                border: 0;
            }
            .react-datepicker__year {
                .react-datepicker__year-wrapper {
                    @include justify-content(center);
                    .react-datepicker__year-text {
                        padding: 0.25rem;
                        &:hover {
                            background-color: transparentize($primaryColor, 0.9);
                        }
                        &.react-datepicker__year-text--selected {
                            background-color: $primaryColor;
                        }
                    }
                }
            }
        }
        .react-datepicker__navigation-icon {
            &::before {
                top: 11px;
            }
        }
    }
}