@import "../includes/mixins";
@import "../includes/variables";

input {
    &.form-control {
        min-height: 38px;
        border-color: $borderColor;
        @include placeholder {
            color: $gray;
            font-size: $global-font-size - 1;
        }
        &:focus {
            @include box-shadow(none);
            border-color: $primaryColor;
        }
    }
}

.selectpicker {
    div[class*="-control"] {
        border-color: $borderColor;
        @include box-shadow(none);
        div[class*="-placeholder"] {
            color: $gray;
            font-size: $global-font-size - 1;
        }
    }
}

.react-checkbox {
    input[type="checkbox"],
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        & + label {
            position: relative;
            cursor: pointer;
            padding: 0;
            &::before {
                content: '';
                margin-right: 10px;
                display: inline-block;
                vertical-align: text-top;
                width: 20px;
                height: 20px;
                background: $white;
                outline: 1px solid;
                outline-color: $borderColor;
                @include border-radius(2px);
            }
        }
        &:checked {
            & + label {
                &::before {
                    background-color: $primaryColor;
                    outline-color: $primaryColor;
                }
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: 7px;
                    width: 6px;
                    height: 12px;
                    border: solid $white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

body {
    .react-datepicker {
        border-color: $borderColor;
        font-family: 'Roboto', sans-serif !important;
        color: $bodyColor;
        .react-datepicker__triangle {
            display: none;
        }
        .react-datepicker__year--container {
            .react-datepicker__header {
                background-color: $white;
                border: 0;
            }
            .react-datepicker__year {
                .react-datepicker__year-wrapper {
                    @include justify-content(center);
                    .react-datepicker__year-text {
                        padding: 0.25rem;
                        &:hover {
                            background-color: transparentize($primaryColor, 0.9);
                        }
                        &.react-datepicker__year-text--selected {
                            background-color: $primaryColor;
                        }
                    }
                }
            }
        }
        .react-datepicker__navigation-icon {
            &::before {
                top: 11px;
            }
        }
    }
}