@import "../includes/mixins";
@import "../includes/variables";

table {
    &.table {
        th, td {
            padding: 1rem;
            border-color: $borderLight;
            &.actions {
                text-align: right;
            }
        }
        th {
            text-transform: uppercase;
            color: $gray;
        }
        td {
            &.actions {
                a {
                    margin-right: 1.5rem;
                }
            }
        }
    }
}