@import "../variables.scss";
@import "../mixins.scss";

button,a {
    &.btn {
        &:not(.btn-sm) {
            min-height: 38px;
            line-height: 38px;
            padding: 0 1.25rem;
        }
        &.btn-primary {
            background-color: $primaryColor;
            &:hover {
                background-color: darken($primaryColor, 8%);
            }
        }
    }
}
.action-btn {
    color: $gray;
    &.edit {
        &:hover {
            color: $primaryColor;
        }
    }
    &.delete {
        &:hover {
            color: $danger;
        }
    }
}