@import "../variables.scss";
@import "../mixins.scss";

input {
    &.form-control {
        min-height: 38px;
        border-color: $borderColor;
        @include placeholder {
            color: $gray;
            font-size: $global-font-size - 1;
        }
        &:focus {
            @include box-shadow(none);
            border-color: $primaryColor;
        }
    }
}

.selectpicker {
    div[class*="-control"] {
        border-color: $borderColor;
        @include box-shadow(none);
        div[class*="-placeholder"] {
            color: $gray;
            font-size: $global-font-size - 1;
        }
    }
}

body {
    .react-datepicker {
        border-color: $borderColor;
        font-family: 'Roboto', sans-serif !important;
        color: $bodyColor;
        .react-datepicker__triangle {
            display: none;
        }
        .react-datepicker__year--container {
            .react-datepicker__header {
                background-color: $white;
                border: 0;
            }
            .react-datepicker__year {
                .react-datepicker__year-wrapper {
                    @include justify-content(center);
                    .react-datepicker__year-text {
                        padding: 0.25rem;
                        &:hover {
                            background-color: transparentize($primaryColor, 0.9);
                        }
                        &.react-datepicker__year-text--selected {
                            background-color: $primaryColor;
                        }
                    }
                }
            }
        }
        .react-datepicker__navigation-icon {
            &::before {
                top: 11px;
            }
        }
    }
}