@import "../variables.scss";
@import "../mixins.scss";

table {
    &.table {
        th {
            padding: 0.75rem 0.75rem;
            text-transform: uppercase;
        }
        td {
            padding: 1rem 0.75rem;
            &.actions {
                width: 100px;
                a {
                    margin-right: 1.5rem;
                }
                .action-icons {
                    color: $gray;
                    &.edit {
                        &:hover {
                            color: $primaryColor;
                        }
                    }
                    &.delete {
                        &:hover {
                            color: $danger;
                        }
                    }
                }
            }
        }
        th, td {
            font-size: $global-font-size - 1;
        }
    }
}