@import "./mixins";
@import "./variables";

a {
    color: $primaryColor;
    text-decoration: none;
}
.text-primary {
    color: $primaryColor !important;
}
.text-gray {
    color: $gray !important;
}
.text-muted {
    color: #a1a1a1 !important;
}
.text-body {
    color: $bodyColor !important;
}
.border-dashed {
    border-style: dashed !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
.fw-medium {
    font-weight: 500 !important;
}
.bg-light {
    background-color: #f5f5f5 !important;
}