$primaryColor:#3b6bda;
$secondaryColor:#8d44c8;
$black: #000000;
$white: #ffffff;
$gray: #afafaf;
$bodyColor: #313131;
$borderColor: #e3e3e3;
$borderLight: #eff2f5;
$border-gray-300: #e4e6ef;
$danger: #e63636;

