@import "./variables.scss";
@import ".//mixins.scss";

.text-gray {
    color: $gray !important;
}
.border-dashed {
    border-style: dashed !important;
}
.border-gray-300 {
    border-color: #e4e6ef !important;
}