@import "../includes/mixins";
@import "../includes/variables";
@import "../includes/common";

// components
@import "../components/form";
@import "../components/button";
@import "../components/table";

body {
    &.mob-menu-open {
        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparentize($black, 0.5);
            z-index: 1;
        }
        .admin-panel {
            .left-block {
                left: 0;
            }
        }
    }
}

.login-wrapper {
    padding: 2rem 0;
    @include flexbox;
    @include align-items(center);
    min-height: 100vh;
    .login-container {
        padding: 40px;
        background-color: $white;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        @include box-shadow(0px 5px 28px -10px rgba(0, 0, 0, 0.1));
        label {
            margin-bottom: 0;
        }
        .form-control {
            border:0;
            border-bottom: 1px solid $borderColor;
            @include border-radius(0px);
            padding-left: 0;
            padding-right: 0;
            position: relative;
            color: $primaryColor;
            font-weight: bold;
            &:focus {
                @include box-shadow(none);
                border-color: $primaryColor;
            }
        }
    }
}

.admin-panel {
    @include flexbox;
    .left-block {
        width: 250px;
        min-height: 100vh;
        position: fixed;
        top: 0;
        z-index: 10;
        left: -250px;
        display: grid;
        background-color: $secondaryColor;
        box-shadow: 0 0 15px 0 rgba(34, 41, 47, 0.05);
        @include transition(all 0.3s ease);
        @include breakpoint(mn768) {
            left: 0;
        }
        .sidebar {
            .logo-block {
                padding: 20px;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                // min-height: 145px;
                border-bottom: 1px solid transparentize($white, 0.9);
                .logo {
                    margin-bottom: 0;
                    color: $white;
                }
            }
            .nav {
                margin-top: 30px;
                .nav-item {
                    .nav-link {
                        padding: 1rem 1.75rem;
                        position: relative;
                        color: transparentize($white, 0.3);
                        font-size: 14px;
                        @include flexbox;
                        .db-icon {
                            font-size: 21px;
                            margin-right: 1rem;
                        }
                        &:hover {
                            color: $primaryColor;
                        }
                        &.active {
                            color: $primaryColor;
                            font-weight: 500;
                            &::after {
                                content: '';
                                width: 4px;
                                height: 100%;
                                background-color: $primaryColor;
                                position: absolute;
                                top: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .right-block {
        padding: 10px;
        width: 100%;
        @include transition(all 0.3s ease);
        @include breakpoint(mn768) {
            margin-left: 250px;
            width: calc(100% - 250px);
            padding: 20px 20px 20px 30px;
        }
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            @include flexbox;
            @include align-items(center);
            background-color: $white;
            padding: 10px 20px;
            z-index: 9;
            // border-bottom: 1px solid #f1f1f1;
            @include box-shadow(0px 10px 30px 0px rgba(82, 63, 105, 0.05));
            @include breakpoint(mn768){
                left: 250px;
                width: calc(100% - 250px);
            }
            .mob-menu {
                color: $bodyColor;
                margin-right: 1rem;
                cursor: pointer;
                @include breakpoint(mn768) {
                    display: none;
                }
            }
            .welcome-block {
                p {
                    color: transparentize($black, 0.3);
                }
            }
            .profile-block {
                margin-left: auto;
                .avatar {
                    width: 35px;
                    height: 35px;
                    overflow: hidden;
                    @include border-radius(5px);
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    background-color: $gray;
                    img {
                        width: 45px;
                    }
                }
                .name-block {
                    margin-left: 0.75rem;
                    line-height: 17px;
                    display: none;
                    h6 {
                        color: $bodyColor;
                    }
                    p {
                        font-size: 13px;
                        color: transparentize($black, 0.5);
                    }
                    @include breakpoint(mn481) {
                        display: block;
                    }
                }
                .nav-item {
                    @include flexbox;
                    .nav-link {
                        @include flexbox;
                        @include align-items(center);
                        border-left: 1px solid transparentize($white, 0.7);
                        color: $white;
                    }
                }
                h6, p {
                    margin-bottom: 0;
                }
            }
        }
        .section-panel {
            background-color: $white;
            margin-top: 80px;
            @include border-radius(10px);
            box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
            .section-header {
                @include flexbox;
                @include align-items(center);
                padding: 30px;
                padding-bottom: 10px;
                .section-title {
                    margin-bottom: 0;
                }
            }
            .section-body {
                padding: 30px;
                .profile-pic {
                    width: 180px;
                    overflow: hidden;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    background-color: $gray;
                    img {
                      width: 100%
                    }
                }
                &.section-table {
                    table {
                        tr {
                            th, td {
                                &:first-child {
                                    padding-left: 0;
                                }
                                &:last-child {
                                    padding-right: 0;
                                }
                            }
                        }
                        tbody {
                            tr {
                                &:last-child {
                                    td {
                                        border-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .form-action {
                margin-top: 1.5rem;
                @include flexbox;
                @include justify-content(flex-end);
            }
        }
    }
    .star-rating {
        .star {
          color: #bbbbbb;
          &:not(:last-child) {
            margin-right: 2px;
          }
        }
        &.star-5 {
          .star {
            color: $primaryColor;
          }
        }
        &.star-4 {
          .star {
            &:not(:last-child) {
              color: $primaryColor;
            }
          }
        }
        &.star-3 {
          .star {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
              color: $primaryColor;
            }
          }
        }
        &.star-2 {
          .star {
            &:nth-of-type(1),
            &:nth-of-type(2) {
              color: $primaryColor;
            }
          }
        }
        &.star-1 {
          .star {
            &:first-child {
              color: $primaryColor;
            }
          }
        }
      }
}